.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 20px 0;
}

.pagination-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button:hover {
  background-color: #E1E1E1;
}

.pagination-button.active {
  background-color: #0087E9;
  color: white;
}

.pagination span {
  width: 20px;
  height: 20px;
  color: #888;
  pointer-events: none;
}