.Item {
  display: flex;
  justify-content: space-between;
  transition: background-color 1s;
  padding-left: 10px;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  color: black;
  text-decoration: none;
  padding: 20px 10px;
  transition: text-decoration 0.3s ease;
}

.Item-title:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: text-decoration 0.3s ease;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.Item-price {
  padding: 0 0 0 10px;
  white-space: nowrap;
  font-size: 18px;
}
