.Controls {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px dashed #ccc;
}

.Controls-cart {
  padding: 20px 5px;
}

.Controls-totalItemsPrice {
  font-weight: 600;
  padding: 20px 10px;
}

.Controls-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Controls-actions-btn {
  padding: 1px 9px;
}
