.BasketTool {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-home-link {
  color: #0087E9;
}

.BasketTool-right-side {
  display: flex;
  align-items: center;
}

.BasketTool-label {
  margin-right: 10px;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
